*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 28px 83px;
}
.logo{
    color: white;

}
a{
    text-decoration: none;
    
}
header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    height: 28px;
    font-family: 'Inter 18pt';

}
html{
    scroll-behavior: smooth;
}
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #fc466b;
    transition: all 100ms ease;
}
header nav ul li.btn a{
    background:rgb(255, 208, 80);
    padding: 13px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
header nav ul li.btn a:hover{
    background: #4876ff;
}
.hero-container{
    max-width: 1280px;
    margin: 80px auto 0;
}
.hero--info{
    max-width: 1133px;
    margin: 0 auto;
    display: flex;
    z-index: 3;
    position: relative;
}
.hero--info-block-1{
    padding: 64px 64px 64px;
    max-width: 624px;
    background-color: white;
}
.hero--info-block-2{
    padding: 102px 0 0 32px;
    max-width: 509px;
}
.hero--info-block-1 h3{
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter 18pt';
    line-height: 20px;
    letter-spacing: 3px;
}
.hero--info-block-1 h1{
    color: black;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 64px;
    letter-spacing: -2px;
    margin: 16px 0 0 0;
}
.hero--info-block-2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';
    color: rgb(76, 76, 76);
}
.hero--photo{
    position: relative;
    height: 444px; 
    margin-top: -32px; 
    background-image: url('../images/aboutus/main/https___www.pexels.com_photo_photo-of-woman-wearing-eyeglasses-3184405_\ \(1\).png'); 
    background-size: cover;
    background-position: center; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 109px 0 0 109px;
}
.hero--photo-info{
    background-color: rgb(255, 208, 80);
    max-width: 630px;
    padding: 32px 48px;
    display: flex;
    justify-content: space-between
}
.hero--photo-info span{
    color: black;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 64px;
    letter-spacing: -2px;
}
.hero--photo-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';
}
.hero--photo-info-gradient{
    max-width: 861px;
    height: 22px;
    background: linear-gradient(to right, #592EA9 25%, #592EA9 44%, #FFD050 20%, #FFD050 100%);

}
.header-mision-vision-block{
    display: flex;
     
    background-color: rgb(244, 240, 248);
    padding: 128px 108px 64px ;
    margin: 0 auto;
    
}
.nav-block-1-info{
    padding: 82px 64px 82px 0;
}

.header-box-1 span{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter 18pt';
    letter-spacing: 3px;
}
.header-box-1 h3{
    color: black;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 40px;
    letter-spacing: -1px;
    margin: 16px 41px 24px 0;
}
.header-box-1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';
    color: rgb(109, 110, 118);
    margin: 0 30px 0 0;
}
.nav-block-1{
    max-width: 1280px;
    margin: 128px auto 0;
    display: flex;
    
}
.nav-block-1-info h2{
    color: black;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 48px;
    letter-spacing: -2px;
}
.nav-block-1-info h4{
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 32px;
    letter-spacing: 0px;
    margin: 16px 0;
}
.nav-block-1-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';
    color: rgb(109, 110, 118);
    
}
.shapes{
    width: 103px;
    height: 116px;
    background-color: rgb(255, 208, 80);
    border-top-left-radius: 50px;
    position: relative;
    bottom: 370px;
}
.circle{
    width: 74px;
    height: 74px;
    background-color: rgb(89, 46, 169);
    border-radius: 37px;
    position: relative;
    left: 130px;
    bottom: 40px;
}
.container-6 h2{
    font-family: 'Sen';
    Font-weight: 700;
    Font-size: 36px;
    text-align: center;
    margin: 32px 0 16px;
}
.block-6{
    margin: 0 auto;
    max-width: 1280px;
}
.container-6{
    padding: 0 0 128px;
}
.block-6-authors-info{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    
}
.block-6-authors{
    background-color: rgb(244, 240, 248);
    padding: 40px 84px;
    max-width: 296px;
    text-align: center;
    margin-right: 32px;
    transition: all 500ms ease;
}
.block-6-authors:hover{
    background-color: rgb(251, 246, 234);
    
}
.block-6-authors h3{
    margin: 20px 0 3px;
    font-family: 'Sen';
    Font-weight: 700;
    Font-size: 28px;
}
.block-6-authors span{
    font-family: 'Inter 18pt';
    font-weight: 400;
    font-size: 14px;
    color: rgb(109, 110, 118);
}
.block-6-section-links img{
    margin: 20px 7px 0 0;
}
.join-team{
    display: flex;
    justify-content: center; 
    align-items: center;     
    max-width: 414px;
    margin: 0 auto;   
}
.container-4{
    
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;   
    text-align: center;
    width: 100%;
    margin: 0 0 126px;
}
.join-team-main{
    text-align: center;
    
}
.join-team-main h2{
    font-family: 'Sen';
    Font-weight: 700;
    Font-size: 34px;
    line-height: 48px;
    letter-spacing: -2px;
    

}
.join-team-main p{
    font-family: 'Inter 18pt';
    font-weight: 400;
    font-size: 16px;
    margin: 16px 0 32px  ;
    color: rgb(109, 110, 118);
    line-height: 28px;
}
.btn-1 a{
    background:rgb(255, 208, 80);
    padding: 16px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
.btn-1 a:hover{
    background: #4876ff;
}
footer{
    width: 100%;
    background-color: rgb(35, 37, 54);
}
.navbar-foother{
    padding: 80px 59px;

}
footer nav{
    float: right;
    width: 50%;
}
footer nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer nav ul li{
    display: inline-block;
}
footer nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    height: 28px;
    font-family: 'Inter 18pt';

}
footer nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #fc466b;
    transition: all 100ms ease;
}
footer nav ul li.btn a{
    background:rgb(255, 208, 80);
    padding: 13px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
footer nav ul li.btn a:hover{
    background: #4876ff;
}
.footer-center{
    background-color: #4C4C4C;
    margin: 56px 0 48px 0;
    padding: 56px 0 128px 0;
    display: flex;
    justify-content: space-evenly;
    height: 256px;
    box-shadow: 2px 5px 20px 6px black;
    

}
.footer-center-text h2{
    font-family: 'Sen';
    Font-weight: 700;
    Font-size: 35px;
    line-height: 48px;
    letter-spacing: -2px;
    color: white;
    max-width: 562px;
}
.footer-center-search input{
    width: 323px;
    height: 56px;
    padding: 14px 0 14px 25px;
    border: 1px solid rgb(35, 37, 54);;
    background-color: #4C4C4C;
    margin: 0 24px 0 0;
}
.contact-info{
    font-family: 'Inter 18pt';
    font-weight: 400;
    font-size: 16px;
    color: rgb(109, 110, 118);
    line-height: 28px;
}
.block-6-section-links-foother img {
    margin: 20px 7px 0 0;
    background-color: grey;
    border-radius: 16px;
}
.foother-links{
    display: flex;
    justify-content: space-between;
}