*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    
}
html{
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 28px 83px;
}
.logo{
    color: white;

}
a{
    text-decoration: none;
    color: black;
}
header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';

}
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #fc466b;
    transition: all 100ms ease;
}
header nav ul li.btn a{
    background:rgb(255, 208, 80);
    padding: 13px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
header nav ul li.btn a:hover{
    background: #4876ff;
}
header{
    background-color: rgb(244, 240, 248);
}
.category-container{
    max-width: 518px;
    margin: 0  auto;
    padding: 80px 0;
    
}
.category--info{
    text-align: center;
    
}
.category--info h1{
    color: black;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 64px;
    letter-spacing: -2px;
}
.category--info p{
    color: rgb(109, 110, 118);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';
    margin: 16px 0 32px;
}
.category--info span{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter 18pt';
    letter-spacing: 3px;
}
.choose-category-main{
    max-width: 1282px;
    margin: 0 auto;
    padding: 96px 0 128px;
    display: flex;
}
.choose-category-info span{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter 18pt';
    letter-spacing: 3px;
    color: rgb(89, 46, 169);
}
.choose-category-info h2{
    color: black;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 48px;
    letter-spacing: -2px;
    margin: 20px 0 16px;
}
.choose-category-info p{
    color: rgb(109, 110, 118);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';
    margin: 16px 0 32px;
}
.choose-category-info-blocks{
    max-width: 512px;
    margin: 0px 0 0 32px;
    padding: 38px 0 0 0;
}
.choose-category-info{
    display: flex;
    margin: 32px 144px 0 0;
}
.choose-category-compartment{
    max-width: 298px;
}
.choose-category-compartment h2{
    color: black;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 48px;
    letter-spacing: -2px;
    margin: 0 0 16px;
}

.icons-category{
    width: 48px;
    height: 48px;
    padding: 12px;
    background-color: rgb(251, 246, 234);
    border-radius: 1px;
    background-image: url(../images/category/icons/shuttle.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}
.categories-catalog-blocs-structures{
    display: flex;
    padding: 24px 111px 24px 24px;
    background-color: #FBF6EA;
    margin: 24px 0 0 0;
    box-shadow: 0px 0px 2px 1px #C1C1C3;
}
.categories-catalog-blocs-structures:hover{
    background-color: #FFD050;
    transition: all 500ms ease;
}
.categories-catalog-blocs-structures h3{
    color: black;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 40px;
    letter-spacing: -1px;
    margin: 0 0 0 16px;
}
.category-tags{
 margin: 48px 0 0 0;   
}
.tegs-buttons ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.tegs-buttons a{
    color: rgb(109, 110, 118);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Sen';
    line-height: 32px;
    letter-spacing: 0px;
    transition: all 500ms ease;
    
}
.tegs-buttons li{
    padding: 8px 38px;
    border: 2px solid rgb(109, 110, 118);
    border-radius: 30px;
    margin: 16px 0 0 0;
    transition: all 500ms ease;
}
.tegs-buttons li:hover{
    background: #4876ff;
    
}
.tegs-buttons a:hover{
    
    color: #FBF6EA;
}
footer{
    width: 100%;
    background-color: rgb(35, 37, 54);
}
.navbar-foother{
   max-width: 1280px;
    margin: auto;
    
    padding: 80px 59px;
}
footer nav{
    float: right;
    width: 50%;
}
footer nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer nav ul li{
    display: inline-block;
}
footer nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    height: 28px;
    font-family: 'Inter 18pt';

}
footer nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #fc466b;
    transition: all 100ms ease;
}
footer nav ul li.btn a{
    background:rgb(255, 208, 80);
    padding: 13px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
footer nav ul li.btn a:hover{
    background: #4876ff;
}
.footer-center{
    background-color: #4C4C4C;
    margin: 56px 0 48px 0;
    padding: 56px 0 128px 0;
    display: flex;
    justify-content: space-evenly;
    height: 256px;
    box-shadow: 2px 5px 20px 6px black;
    

}
.footer-center-text h2{
    font-family: 'Sen';
    Font-weight: 700;
    Font-size: 35px;
    line-height: 48px;
    letter-spacing: -2px;
    color: white;
    max-width: 562px;
}
.footer-center-search input{
    width: 323px;
    height: 56px;
    padding: 14px 0 14px 25px;
    border: 1px solid rgb(35, 37, 54);;
    background-color: #4C4C4C;
    margin: 0 24px 0 0;
}
.contact-info{
    font-family: 'Inter 18pt';
    font-weight: 400;
    font-size: 16px;
    color: rgb(109, 110, 118);
    line-height: 28px;
}
.block-6-section-links-foother img {
    margin: 20px 7px 0 0;
    background-color: grey;
    border-radius: 16px;
}
.foother-links{
    display: flex;
    justify-content: space-between;
}
.btn-1{
    background: rgb(255, 208, 80);
    padding: 17px 34px 16px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
    text-align: center;
    margin: 16px 0 0 0;
    height: 64px;
}
.btn-1:hover{
    background: #4876ff;
    color: white;
}