*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 28px 83px;
}
html{
    scroll-behavior: smooth;
}
.logo{
    color: white;

}
a{
    text-decoration: none;
    color: black;
}
header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter 18pt';

}
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #fc466b;
    transition: all 100ms ease;
}
header nav ul li.btn a{
    background:rgb(255, 208, 80);
    padding: 13px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
header nav ul li.btn a:hover{
    background: #4876ff;
}
header{
    background-color: rgb(244, 240, 248);
}
.Privacy-Policy-container{
    max-width: 310px;
    margin: 0 auto;
    text-align: center;
    padding: 84px 0 64px;
}
.Privacy-Policy-container h1{ 
    color: black;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Sen';
    letter-spacing: -2px;
    line-height: 64px;
    margin: 0 0 4px 0;

}
.Privacy-Policy-container p{ 
    font-family: 'Inter 18pt';
    font-weight: 400;
    font-size: 16px;
    color: rgb(109, 110, 118);
    line-height: 28px;
}
.Privacy-Policy-nav{
    max-width: 768px;
    margin: 0 auto;
    padding: 144px 0 128px;
}
.Privacy-Policy-nav h2{
    color: black;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Sen';
    letter-spacing: -2px;
    line-height: 64px;
    margin: 0 0 32px;
}
.Privacy-Policy-nav p{
    font-family: 'Inter 18pt';
    font-weight: 400;
    font-size: 16px;
    color: rgb(109, 110, 118);
    line-height: 28px;
    margin: 24px 0 0;
    padding: 0 14px 0 0;
}
.Privacy-Policy-nav h3{
    color: black;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Sen';
    letter-spacing: -2px;
    line-height: 48px;
    margin:  24px 0 0;
}
footer{
    width: 100%;
    background-color: rgb(35, 37, 54);
}
.navbar-foother{
   max-width: 1280px;
    margin: auto;
    
    padding: 80px 59px;
}
footer nav{
    float: right;
    width: 50%;
}
footer nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer nav ul li{
    display: inline-block;
}
footer nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    height: 28px;
    font-family: 'Inter 18pt';

}
footer nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #fc466b;
    transition: all 100ms ease;
}
footer nav ul li.btn a{
    background:rgb(255, 208, 80);
    padding: 13px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
footer nav ul li.btn a:hover{
    background: #4876ff;
}
.footer-center{
    margin: 56px 0 128px 0;
    display: flex;
    justify-content: space-evenly


}
.footer-center-text h2{
    font-family: 'Sen';
    Font-weight: 700;
    Font-size: 35px;
    line-height: 48px;
    letter-spacing: -2px;
    color: white;
    max-width: 562px;
}
.footer-center-search input{
    width: 323px;
    height: 56px;
    padding: 14px 0 14px 25px;
    border: 1px solid rgb(76, 76, 76);
    background-color: rgb(35, 37, 54);
    margin: 0 24px 0 0;
}
.contact-info{
    font-family: 'Inter 18pt';
    font-weight: 400;
    font-size: 16px;
    color: rgb(109, 110, 118);
    line-height: 28px;
}
.btn-1 a{
    background:rgb(255, 208, 80);
    padding: 16px 34px;
    transition: all 500ms ease;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sen';
}
.btn-1 a:hover{
    background: #4876ff;
}
.block-6-section-links-foother img {
    margin: 20px 7px 0 0;
    background-color: grey;
    border-radius: 16px;
}
.foother-links{
    display: flex;
    justify-content: space-between;
}